canvas {
  display: block;
  margin: 0 auto;
}

aside {
  position: absolute;
  width: 200px;
  top: 0;
  left: 0;
  padding: 16px;
}

main {
  margin-left: 200px;
}

.text-center {
  text-align: center;
}
